.version.index /* version checker */
{
	color: #0000F2;
	background-color: #EDD704;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	z-index: 1;
	min-height: 438px;
	border-width: 0px;
	padding-bottom: 62px;
	width: 100%;
	background-image: none;
	background-color: transparent;
	border-color: #000000;
	margin-left: auto;
}

#u98
{
	z-index: 2;
}

#u117
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
}

#u115
{
	z-index: 4;
}

#u175-4
{
	font-family: bree-serif, sans-serif;
	z-index: 27;
	font-weight: 400;
	font-size: 48px;
	background-color: transparent;
	position: relative;
	line-height: 58px;
}

#u172-22
{
	font-family: bree-serif, sans-serif;
	z-index: 5;
	font-weight: 400;
	min-height: 197px;
	background-color: transparent;
	position: relative;
}

#u172-3,#u172-7,#u172-11,#u172-15,#u172-19
{
	font-size: 24px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u172,#u172-4,#u172-5,#u172-8,#u172-9,#u172-12,#u172-13,#u172-16,#u172-17
{
	font-size: 36px;
	line-height: 43px;
}

#u172-20
{
	font-size: 24px;
	line-height: 29px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 481px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u98
	{
		min-height: 62px;
		padding-bottom: 13px;
	}

	#u98_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u117
	{
		margin-top: 8px;
		width: 65.21%;
		left: 16.98%;
	}

	#u115
	{
		width: 100.32%;
	}

	#u98-bw
	{
		z-index: 2;
		min-height: 62px;
	}

	#u175-4
	{
		min-height: 28px;
		margin-top: 38px;
		width: 59.8%;
		margin-left: 17.5%;
	}

	#u172-22
	{
		margin-top: 25px;
		width: 59.8%;
		margin-left: 17.5%;
	}

}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		max-width: 480px;
	}

	#u98
	{
		padding-bottom: 4px;
		position: relative;
		width: 100%;
	}

	#u117
	{
		margin-top: 4px;
		width: 107.5%;
		left: -3.55%;
	}

	#u115
	{
		width: 100.39%;
	}

	#u175-4
	{
		min-height: 75px;
		margin-top: 16px;
		width: 92.3%;
		margin-left: 3.13%;
	}

	#u172-22
	{
		margin-top: 24px;
		width: 93.34%;
		margin-left: 2.09%;
	}

	body
	{
		min-width: 320px;
	}
}

