	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 960px;
	}

	#u98
	{
		min-height: 62px;
		padding-bottom: 13px;
	}

	#u98_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u117
	{
		margin-top: 8px;
		width: 65.21%;
		left: 16.98%;
	}

	#u115
	{
		width: 100.32%;
	}

	#u98-bw
	{
		z-index: 2;
		min-height: 62px;
	}

	#u175-4
	{
		min-height: 28px;
		margin-top: 38px;
		width: 59.8%;
		margin-left: 17.5%;
	}

	#u172-22
	{
		margin-top: 25px;
		width: 59.8%;
		margin-left: 17.5%;
	}


